<h2> <%= @restaurant.name %> </h2>

<p> <%= @restaurant.address %> </p>

<p> <%= @restaurant.category %> </p>

<p> <% @restaurant.reviews.each do |review| %>
      <%= review.rating %>
      <%= review.content %>
    <% end %>
</p>

<%= link_to "Back to list", restaurants_path %>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
